@import "tailwindcss";

@font-face {
  font-family: "glacial";
  src: url("/fonts/GlacialIndifference-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}
