@import "tailwindcss";

@font-face {
  font-family: "glacial";
  src: url("/fonts/GlacialIndifference-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("/fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "NotoSansJP", sans-serif;
}
@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 20px 6px rgba(255, 223, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 30px 12px rgba(255, 223, 0, 0.7);
  }
}

.animate-pulseGlow {
  animation: pulseGlow 1.5s infinite ease-in-out;
}
.scrollbar-hide::-webkit-scrollbar {
  height: 2px; /* толщина горизонтального скролла */
  width: 10px; /* толщина вертикального скролла */
}
.scrollbar-hide::-webkit-scrollbar-track {
  background: #f0f0f0; /* цвет дорожки */
  border-radius: 4px;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #f4e47a; /* цвет ползунка */
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* отступ, чтобы был "плавающий" */
}
.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background-color: #f8db20; /* оставляем тот же цвет */
}
